@model IEnumerable<RealTime.Models.MyModel>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/js/signalr-client-1.0.0-alpha2-final.min.js"></script>    
    <script>

        var connection = new signalR.HubConnection('/signalR_Poc');

        connection.on('send', function(data) {
            document.getElementById('lbl').value = ", " + data;
            console.log(data);
        });

        connection.start()
            .then(() =>

                connection.invoke('send', 'Hello'));

        function send() {
            var value = document.getElementById('inp').value;
            connection.invoke('send', value);
        }

    </script>
</head>
<body>
    <input id="inp" />
    <button id="btn" onclick="send();" ></button>
    <label id="lbl"></label>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
